<head>
    <link rel="stylesheet" href="~/css/About.css" />
</head>

<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark transparent">
  <a class="navbar-brand text-dark playfair" href="/">Seraj Associates</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-dark playfair" href="/">
          <i class="fab"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark playfair" href="/portfolio">
          <i class="fab"></i> Portfolio</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-dark playfair" href="/about">
          <i class="fab"></i> About</a>
          <span class="sr-only">(current)</span>
      </li><li class="nav-item">
        <a class="nav-link text-dark playfair" href="/contact">
          <i class="fab"></i> Contact</a>
      </li>
      @* <li class="nav-item dropdown">
        <a class="nav-link text-dark playfair dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> Profile </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item" href="#">My account</a>
          <a class="dropdown-item" href="#">Log out</a>
        </div>
      </li> *@
    </ul>
  </div>
</nav>
<!--/.Navbar -->
<br>
<div class="container">
  <div class="jumbotron">
      <h4 class="playfair"> Seraj Associates </h4>
      <p class="fauna"> We make a house a pleasure to live in! We bring to bear more than 30 years experience with a wide range of clients. </p>
      <br>
      
      <img src="../Images/rahman.gif" alt="Rahman Seraj's Picture">
          <fieldset class="RahmanSeraj">
              <legend class="playfair">Rahman Seraj</legend><p class="fauna"> Rahman Seraj, <strong class="fauna">the company founder</strong>, is an experienced and accomplished designer and manager. He was born in Afghanistan, attended Kabul University and later the architecture school at Catholic University. Rahman specializes in the interior architectural elements of design. He collaborates closely with the architects and contractors associated with a project. He is a skilled designer of lighting systems as well, and shows a creative approach to millwork and cabinetry design. </p>
          </fieldset>

      <br>
      <h5 class="playfair"> Services </h5>
      <ul class="fauna">
          <li> Space Planning </li>
          <li> Furniture / Fabric Selections </li>
          <li> Lighting Design and Specifications </li>
          <li> Window and Floor Covering Selections </li>
          <li> Color Scheme Development </li>
          <li> Millwork Design and Implementation </li>
          <li> Fine Art Consultation </li>
      </ul>
      <h5 class="playfair"> Expertise </h5>
      <p class="fauna"> The firm’s depth of knowledge and expertise also includes project management in the following areas: </p>
      <ul class="fauna">
          <li> Architectural Review </li>
          <li> Construction Collaboration </li>
          <li> Landscape Design Assessment </li>
          <li> Project Supervision </li>
          <li> Move-in Coordination </li>
      </ul>
  </div>
</div>