@model LoginAdmin
<head>
    <link rel="stylesheet" href="~/css/AdminSignIn.css" />
</head>
<div class="jumbotron">
<center>
    <div class="col-sm-6">
        <form action="/login" method="post">
            <h2 class="playfair"> Admin Sign in </h2>
            <hr class="light">
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="fauna">Email</h4>
                </div>
                <div class="col-sm-6">
                    <span class="error" asp-validation-for="LEmail"></span>
                    <input asp-for="LEmail" class="form-control">
                </div>
                <br>
                <br>
                <div class="col-sm-6">
                    <h4 class="fauna">Password</h4>
                </div>
                <div class="col-sm-6">
                    <span class="error" asp-validation-for="LPassword"></span>
                    <input asp-for="LPassword" class="form-control">
                </div>   
            </div>
            <br>
            <input type="submit" value="Sign In" class="btn btn-transparent">
        </form>
    </div>
</center>
</div>
