*
{
    margin: auto;
    padding: auto;
}

body{
    background-size: cover;
    background-image: url("../Images/dark.jpg"); 
}


.jumbotron
{
    font-weight: bold;
    color: white;
    margin-top: 15%;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}
    .jumbotron:hover{
        box-shadow: 0 20px 35px rgba(0,0,0,0.3);
    }

.btn-transparent {
    background: transparent;
    color: #F2F2F2;
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    border: 2px solid white;
    font-family: 'Fauna One', serif;
}

    .btn-transparent:hover {
        color: white;
        background-color: rgba(255,255,255,0.2);
    }

.light{
    background-color: rgb(63, 63, 63);
}
.form-control{
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
    .form-control::placeholder{
        color: white;
    }
    .form-control:focus{
        background-color: transparent;
        color: white;
    }
.error{
    color: red !important;
    font-size: x-small;
}